body {
  background-color: orange;
  font-family: 'Mansalva', cursive;
  text-align: center;
}

/* .viewSpace {
  width: 38%;
  height: 100vh;
  background-color: black;
}

.mobileView {
  display: flex;
  justify-content: space-between;
} */

h1 {
  color: whitesmoke;
  font-size: 50pt;
  text-shadow: black 2px 2px 5px;
}

a {
  text-decoration: none;
  color: white;
  text-shadow: black 2px 2px 5px;
}

a:visited {
  text-decoration: none;
  color: white;
}

.homePage {
  border: solid black;
  border-radius: 5pt;
  font-size: 30pt;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  text-shadow: black 2px 2px 5px;
}

.homePage:visited {
  color: white;
  text-decoration: none;
}

.zeus {
  background-image: url("./images/original.gif");
  background-size: 200px;
  background-size: cover;
}

.hades {
  background-image: url("./images/light.gif");
  background-size: cover;
}